---
# defaults file for loki
loki_version: "latest"
loki_uninstall: false
loki_http_listen_port: 3100
loki_http_listen_address: "0.0.0.0"
loki_expose_port: false
loki_download_url_rpm: "https://github.com/grafana/loki/releases/download/v{{ loki_version }}/loki-{{ loki_version }}.{{ __loki_arch }}.rpm"
loki_download_url_deb: "https://github.com/grafana/loki/releases/download/v{{ loki_version }}/loki_{{ loki_version }}_{{ __loki_arch }}.deb"
loki_working_path: "/var/lib/loki"
loki_ruler_alert_path: "{{ loki_working_path }}/rules/fake"

# Default Variables for /etc/loki/config.yml
loki_auth_enabled: false
loki_target: "all"
loki_ballast_bytes: 0

loki_server:
  http_listen_address: "{{ loki_http_listen_address }}"
  http_listen_port: "{{ loki_http_listen_port }}"
  grpc_listen_port: 9096
  log_level: error

loki_common:
  instance_addr: 127.0.0.1
  path_prefix: "{{ loki_working_path }}"
  storage:
    filesystem:
      chunks_directory: "{{ loki_working_path }}/chunks"
      rules_directory: "{{ loki_working_path }}/rules"
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

loki_query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

loki_schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

loki_ruler:
  storage:
    type: local
    local:
      directory: "{{ loki_working_path }}/rules"
  rule_path: "{{ loki_working_path }}/rules_tmp"
  ring:
    kvstore:
      store: inmemory
  enable_api: true
  enable_alertmanager_v2: true
  alertmanager_url: http://127.0.0.1:9093

loki_analytics:
  reporting_enabled: false

# Alerting Rules Variables
loki_ruler_alerts:
  - name: Logs.sshd
    rules:
      - alert: SshNewSession
        expr: |
          count_over_time({exporter="alloy", job="loki.source.journal.read", syslog_identifier="sshd"} |="session opened for" != "sftp" [5m]) > 0
        for: 0m
        labels:
          severity: error
          env: prod
        annotations:
          summary: "A new SSH session was opened"

# Additional Config Variables for /etc/loki/config.yml
# loki_distributor:
# loki_querier:
# loki_query_scheduler:
# loki_frontend:
# loki_ingester_client:
# loki_ingester:
# loki_index_gateway:
# loki_storage_config:
# loki_chunk_store_config:
loki_compactor:
  retention_enabled: true
  delete_request_store: filesystem
loki_limits_config:
  retention_period: 7d
# loki_frontend_worker:
# loki_table_manager:
# loki_memberlist:
# loki_runtime_config:
# loki_operational_config:
# loki_tracing:
