---
# defaults file for alloy
alloy_version: "latest"
alloy_uninstall: false
alloy_expose_port: false
alloy_download_url_rpm: "https://github.com/grafana/alloy/releases/download/v{{ alloy_version }}/alloy-{{ alloy_version }}-1.{{ __alloy_arch }}.rpm"
alloy_download_url_deb: "https://github.com/grafana/alloy/releases/download/v{{ alloy_version }}/alloy-{{ alloy_version }}-1.{{ __alloy_arch }}.deb"

alloy_user_groups:
  - "adm"
  - "systemd-journal"

alloy_env_file_vars: {}
# alloy_env_file_vars:
#   CUSTOM_ARGS: "--server.http.listen-addr=0.0.0.0:12345 --stability.level=public-preview --feature.community-components.enabled=true"

alloy_systemd_override: {}
# alloy_systemd_override: |
#   [Service]
#   User=root

# https://grafana.com/docs/alloy/latest/reference/components/loki/loki.source.journal/
alloy_config: |
  loki.write "default" {
    endpoint {
      url = "http://{{ vault_alloy_loki_endpoint | default('127.0.0.1:3100', true) }}/loki/api/v1/push"
    }
  }

  loki.relabel "journal" {
    forward_to = []

    rule {
      source_labels = ["__journal__systemd_unit"]
      regex         = "(grafana|loki).service"
      action        = "drop"
    }

    rule {
      source_labels = ["__journal__systemd_unit"]
      target_label  = "unit"
    }

    rule {
      source_labels = ["__journal__hostname"]
      target_label  = "hostname"
    }

    rule {
      source_labels = ["__journal__hostname"]
      target_label  = "instance"
    }

    rule {
      source_labels = ["__journal__hostname"]
      target_label  = "service"
    }

    rule {
      source_labels = ["__journal_priority_keyword"]
      target_label  = "level"
    }

    rule {
      source_labels = ["__journal_syslog_identifier"]
      target_label  = "syslog_identifier"
    }
  }

  loki.source.journal "read"  {
    forward_to    = [loki.write.default.receiver]
    relabel_rules = loki.relabel.journal.rules
    labels        = {
      component = "loki.source.journal",
      exporter  = "alloy",
    }
  }
