---
# defaults file for promtail
promtail_version: "latest"
promtail_uninstall: false
promtail_http_listen_port: 9080
promtail_http_listen_address: "0.0.0.0"
promtail_expose_port: false
promtail_positions_path: "/var/lib/promtail"
promtail_runtime_mode: "acl"  # Supported "root" or "acl"
promtail_extra_flags: []
# promtail_extra_flags:
#   - "-server.enable-runtime-reload"
#   - "-config.expand-env=true"

promtail_user_append_groups:
  - "systemd-journal"

promtail_download_url_rpm: "https://github.com/grafana/loki/releases/download/v{{ promtail_version }}/promtail-{{ promtail_version }}.{{ __promtail_arch }}.rpm"
promtail_download_url_deb: "https://github.com/grafana/loki/releases/download/v{{ promtail_version }}/promtail_{{ promtail_version }}_{{ __promtail_arch }}.deb"

# default variables for /etc/promtail/config.yml
promtail_server:
  http_listen_port: "{{ promtail_http_listen_port }}"
  http_listen_address: "{{ promtail_http_listen_address }}"

promtail_positions:
  filename: "{{ promtail_positions_path }}/positions.yaml"

promtail_clients:
  - url: http://{{ vault_promtail_loki_endpoint | default('127.0.0.1:3100', true) }}/loki/api/v1/push

# https://grafana.com/docs/loki/latest/send-data/promtail/configuration
promtail_scrape_configs:
  - job_name: journal
    journal:
      path: /var/log/journal
      max_age: 7h
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ["__journal__systemd_unit"]
        target_label: unit
      - source_labels: ["__journal_priority_keyword"]
        target_label: level
      - source_labels: ["__journal_syslog_identifier"]
        target_label: syslog_identifier
  # - job_name: system
  #   static_configs:
  #     - targets:
  #         - localhost
  #       labels:
  #         job: alternatives
  #         instance: "{{ ansible_fqdn }}"
  #         __path__: /var/log/alternatives.log
# not set by default
# promtail_limits_config:
# promtail_target_config:
